<div class="navigation-thumbnail-card card" style="width: @WidthOrDefault">
    
    <img src=@Thumbnail class="card-img-top" style="width: @WidthOrDefault; height: @WidthOrDefault;">

    @if (!(Play is null))
    {
        <div class="d-flex align-items-center justify-content-center centered-button-container" 
             style="width: @WidthOrDefault; height: @WidthOrDefault;">

            <PrimaryIconButton Icon="play_arrow" OnClick=@Play />

        </div>
    }

    <div class="card-body">

        <a href=@Url>
            <h5 class="card-title">@Title</h5>
        </a>

        @if (!(Details is null))
        {
            <p class="card-text">@Details</p>
        }

    </div>

</div>


@code
{
    [Parameter]
    public string Width { get; set; }

    [Parameter]
    public string Url { get; set; }

    [Parameter]
    public Func<Task>? Play { get; set; }

    [Parameter]
    public string Thumbnail { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Details { get; set; }

    private const string defaultWidth = "250px";

    private string WidthOrDefault => Width ?? defaultWidth;
}
