@namespace Caerostris.Shared.Cards


@inject SpotifyService Spotify


    <div class="card navigation-thumbnail-card" style="width: @CssWidth">
    
        <img src=@Thumbnail.AtLeastOfHeight(WidthPx) class="card-img-top" style="width: @CssWidth; height: @CssWidth;">

        @if ((ContextUri is not null) || (TrackUri is not null))
        {
            <div class="d-flex align-items-center justify-content-center centered-button-container" 
                 style="width: @CssWidth; height: @CssWidth;">

                @if(ContextUri is not null)
                {
                    <PrimaryPlayPauseButton ContextUri=@ContextUri />  
                }
                else if (TrackUri is not null)
                { 
                    <PrimaryPlayPauseButton TrackUri=@TrackUri StartPlaybackAtTrack=@(t => Spotify.PlayTrack(contextUri: null, trackUri: t)) />  
                }

            </div>
        }

        <div class="card-body pt-2">

            <a href=@Url>
                <h5 class="card-title">@Title</h5>
            </a>

            @if (Details is not null)
            {
                <span class="card-text">@Details</span>
            }

        </div>

    </div>


@code
{
    [Parameter]
    public int WidthPx { get; set; } = 150;

    [Parameter]
    public string Url { get; set; } = default!;

    [Parameter]
    public string? ContextUri { get; set; }

    [Parameter]
    public string? TrackUri { get; set; }

    [Parameter]
    public List<Image> Thumbnail { get; set; } = default!;

    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public RenderFragment? Details { get; set; }


    private string CssWidth => $"{WidthPx}px";
}
