@namespace Caerostris.Shared.Layout

@using Caerostris.Shared.Auth
@using Caerostris.Shared.Providers
@using Caerostris.Shared.Controls.PlaybackBar
@using Caerostris.Shared.Controls.Menu
@using Caerostris.Shared.Controls.Menu.RightClickContext 
@using Caerostris.Shared.Info
@using Blazored.Modal 


@inherits LayoutComponentBase


    <CascadingValue Value=@sidebarMenu>
    <CascadingValue Value=@rightClickMenu>
    <PlaybackContextProvider>

        <TabTitle />

        <div class="d-flex flex-column w-100 h-100" @onclick=@(() => rightClickMenu?.Hide())>

            <div class="d-flex flex-row flex-fill overflow-auto">

                <div class="d-flex flex-column sidebar">

                    <NavMenu />

                    <UserPlaylistsList />

                </div>

                <div class="pt-3 px-3 h-100 flex-fill">

                    @Body

                </div>

                <div class="sidebar">

                    <ContextMenu @ref=@sidebarMenu />

                </div>

            </div>

            <PlaybackBar />

        </div>

        <AuthDaemon />

        <BlazoredModal />
    
        <RightClickContextMenu @ref=@rightClickMenu />

    </PlaybackContextProvider>
    </CascadingValue>
    </CascadingValue>


@code
{
    private ContextMenu? sidebarMenu;

    private RightClickContextMenu? rightClickMenu;
}