@using Caerostris.Shared.Providers
@using Caerostris.Pages.Auth
@using Caerostris.Pages.Playback
@using Blazored.Modal 


@inherits LayoutComponentBase


    <CascadingValue Value=@menu>

        <PlaybackContextProvider>

            <div class="d-flex flex-column w-100 h-100">

                <div class="d-flex flex-row flex-fill overflow-auto">

                    <div class="d-flex flex-column sidebar">
                        <NavMenu />
                        <UserPlaylistsList />
                    </div>

                    <div class="pt-3 px-3 h-100 flex-fill">

                        @Body

                    </div>

                    <div class="sidebar">
                        <ContextMenu @ref=@menu />
                    </div>

                </div>

                <PlaybackBar />

            </div>

        </PlaybackContextProvider>

        <AuthDaemon />

        <BlazoredModal />

    </CascadingValue>

@code
{
    private ContextMenu? menu;
}