[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = none

# CA1063: Implement IDisposable Correctly
dotnet_diagnostic.CA1063.severity = silent

# CA1816: Dispose methods should call SuppressFinalize
dotnet_diagnostic.CA1816.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = none
