[*.cs]

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = none
