@namespace Caerostris.Shared.Controls.Buttons


@inherits ButtonBase


    <span class="action-text" @onclick=@ExecuteOnClick @onclick:stopPropagation=@true>
        @Text
    </span>


@code
{
    [Parameter]
    public string Text { get; set; } = default!;
}
