@namespace Caerostris.Shared.Controls.Buttons


@inherits IconButtonBase


    <button @onclick=@ExecuteOnClick class="btn btn-outline-light px-2 py-0 m-2">
        <i class="material-icons md-36">@Icon</i>
    </button>
