@namespace Caerostris.Shared.Controls.Buttons


@inherits IconButtonBase


    <button @onclick=@ExecuteOnClick class="btn @(On ? "btn-light" : "btn-outline-light") border-0 px-2 m-2 secondary-button">
        <i class="material-icons md-24">@Icon</i>
    </button>


@code
{
    [Parameter]
    public bool On { get; set; }
}
