.btn {
    border-radius: var(--caerostris-border-radius);
}

.btn-primary {
    color: white;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn:focus, .btn:active, input:focus, input:active {
    outline: none !important;
    box-shadow: none !important;
}

.inline-icon-button {
    font-size: 22px;
    line-height: 1;
    vertical-align: middle;
}


.action-text {
    margin-bottom: 0;
    cursor: pointer;
}

.action-text:hover {
    text-decoration: underline;
}

.inline-play-track-button {
    border: 1px solid;
    border-radius: var(--caerostris-border-radius);
    width: 2em;
    height: 2em;
    color: inherit;
    opacity: 0;
}
    .currently-playing .inline-play-track-button, tr:hover .inline-play-track-button {
        opacity: var(--info-opacity);
    }

    tr:hover .inline-play-track-button:hover {
        opacity: 1;
        color: inherit;
        transition: opacity var(--caerostris-animation-duration) ease;
    }

.inline-play-track-button i {
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    top: -0.3px;
}