@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify


<div class="d-flex flex-column justify-content-start overflow-auto h-100 px-4 pt-4">

    <ContextPageHeading Type=@L["Artist"]
                        Title=@ArtistProfile.Artist.GetName(link: true)
                        ImageUri=@ArtistProfile.Artist.Images.OrderBy(i => i.Height).LastOrDefault()?.Url>

        <p>@ArtistProfile.Artist.Followers.Total.WithThousandsSeparator() @L["Followers"] @WithSeparatorPrefixIfNotEmpty(ArtistProfile.Artist.GetGenres())</p>

        <PrimaryPlayPauseButton ContextUri=@ArtistProfile.Artist.Uri />

    </ContextPageHeading>


    <SubsectionTitle Title=@L["PopularTracks"] />

    <TrackGrid Class="m-2 mb-4"
               Tracks=@ArtistProfile.TopTracks.Select(t => t.AsTrack()).ToList()>

        <TitleFeatArtistsColumn ImplicitArtistUris=@(new[] { ArtistProfile.Artist.Uri }.ToList()) />
        <AlbumTitleColumn />
        <PopularityColumn />
        <DurationColumn />

    </TrackGrid>


    <SubsectionTitle Title=@L["Albums"] />

    <CardTileLayout>

        @foreach (var album in ArtistProfile.Albums)
        {
            <AlbumCard Album=@album />
        }

    </CardTileLayout>


    <SubsectionTitle Title=@L["FansAlsoLike"] />

    <CardTileLayout>

        @foreach (var artist in ArtistProfile.RelatedArtists)
        {
            <ArtistCard Artist=@artist />
        }

    </CardTileLayout>

</div>


@code
{
    [Parameter]
    public ArtistProfile ArtistProfile { get; set; } = default!;

    private string WithSeparatorPrefixIfNotEmpty(string? str) => 
        string.IsNullOrEmpty(str) ? string.Empty : $"• {str}"; // TODO: isn't this used in a bunch of places?
}