@inject IStringLocalizer<Text> L

<div class="d-flex flex-row justify-content-start align-items-center pb-4 mb-4">

    <img src=@ImageUri class="mr-4 context-page-heading-image" />

    <div class="d-flex flex-column justify-content-center align-items-start flex-fill h-100">

        <p class="context-page-heading-type">@Type</p>

        <h4 class="context-page-heading-title">@((MarkupString)Title)</h4>

        @if (!(By is null))
        {
            <div><span class="context-page-heading-by">@L["By"]</span> @((MarkupString)By)</div>
        }

        <div class="context-page-heading-childcontent">
            @ChildContent
        </div>

    </div>

</div>

@code
{
    [Parameter]
    public string Type { get; set; } = null!;

    [Parameter]
    public string ImageUri { get; set; } = null!;

    [Parameter]
    public string Title { get; set; } = null!;

    [Parameter]
    public string? By { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
}
