@namespace Caerostris.Shared.Auth


@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify
@inject NavigationManager NavManager


    <hr>

    <p>@L["AuthModalNote"]</p>

    <hr>

    <button @onclick=@OnConnectAccountButtonClick class="btn btn-primary float-right">@L["AuthModalAccept"]</button>


@code
{
    private async Task OnConnectAccountButtonClick()
    {
        await Spotify.StartAuth(NavManager.ToAbsoluteUri(Spotify.RelativeCallbackUrl).ToString());
    }
}
