@page "/callback"


@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify
@inject NavigationManager NavManager


    <p class="p-4">@L["ShouldBeRedirectedSoon"]</p>


@code
{
    protected override async Task OnInitializedAsync()
    {
        await Spotify.ContinueAuthOnCallback(NavManager.ToAbsoluteUri("callback").ToString());
    }
}