<button @onclick=@OnClick type="button" class="btn btn-outline-light border-0 px-2 m-2">
    <i class="material-icons md-24">@Icon</i>
</button>

@code 
{
    [Parameter]
    public Func<Task>? OnClick { get; set; }

    [Parameter]
    public string? Icon { get; set; }
}
