.playbackbar {
    --playbackbar-height: 90px;
    --track-album-thumbnail-size: calc(var(--playbackbar-height) - 2rem);
    --playbackbar-sides-width: 500px;
    height: var(--playbackbar-height);
    color: white;
    background-color: var(--caerostris-control-surface-color);
}

.playbackbar * {
    margin: 0;
}

.playbackbar .track-metadata, .playbackbar .playback-extra-controls {
    width: var(--playbackbar-sides-width);
}

.playbackbar .track-metadata *:not(.inline-icon-button) {
    max-width: calc(var(--playbackbar-sides-width) - var(--track-album-thumbnail-size) - 4rem);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white;
}

.playbackbar .track-metadata .track-album-thumbnail {
    width: var(--track-album-thumbnail-size);
    height: var(--track-album-thumbnail-size);
    border-radius: var(--caerostris-border-radius);
    filter: drop-shadow(0px 0px 5px black);
    object-fit: cover;
}

.playbackbar .track-metadata .track-title {
    font-size: 22px;
    vertical-align: middle;
    line-height: 1;
}

.playbackbar .track-metadata .track-artist {
    font-size: 13px;
    color: lightgray;
    padding-left: 1px;
}

.duration-display {
    font-size: 0.9rem;
    font-variant-numeric: tabular-nums;
    position: relative;
    top: -2px;
}

.duration-display span {
    position: relative;
    top: -1px;
}