@namespace Caerostris.Shared.Controls.Links


    <a href=@(string.IsNullOrEmpty(LocalUrl) ? ContextExternalUrls["spotify"] : $"{LocalUrl}{ContextId}")>@Title</a>


@code
{
    [Parameter]
    public string Title { get; set; } = default!;

    [Parameter]
    public string ContextId { get; set; } = default!;

    [Parameter]
    public Dictionary<string, string> ContextExternalUrls { get; set; } = default!;

    [Parameter]
    public string? LocalUrl { get; set; }
}