.audio-features-graph g.dxc-val-grid {
    visibility: hidden;
}

.insights-playlist-header {
    position: relative;
    top: -10px;
}

    .insights-playlist-header .inline-icon-button {
        position: relative;
        top: 4px;
    }