.audio-features-graph g.dxc-val-grid {
    visibility: hidden;
}

.insights-playlist-header {
    margin-top: 16px;
}

    .insights-playlist-header .inline-icon-button {
        position: relative;
        top: 3px;
    }