.centered-info {
    opacity: var(--info-opacity);
}

.clear-button {
    opacity: var(--info-opacity);
}

.loading-message {
    opacity: var(--info-opacity);
    font-variant-numeric: tabular-nums;
}