@using DevExpress.Blazor


@inject SpotifyService Spotify


<DxDataGrid CssClass="datagrid"
            DataRowCssClass="datagrid-row"
            DataNavigationMode=@DataGridNavigationMode.VirtualScrolling
            VerticalScrollBarMode=@ScrollBarMode.Visible
            VerticalScrollableHeight=@Height
            ShowFilterRow=@ShowFilterRow
            PageSize=50
            SelectionMode=@DataGridSelectionMode.None
            HtmlRowDecoration=@OnHtmlRowDecoration
            LayoutChanged=@OnLayoutChanged
            Data=@Tracks>

    <DxDataGridColumn Field=@($"{nameof(SavedTrack.Track)}.{nameof(FullTrack.Name)}") Caption="Title" Width="150px">
        <DisplayTemplate>
            <ActionText Text=@((context as SavedTrack).Track.Name)
                        OnClick=@(async () => await StartLibraryPlaybackAt((context as SavedTrack).Track.Uri)) />
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Field=@($"{nameof(SavedTrack.Track)}.{nameof(FullTrack.Explicit)}") Caption="Explicit" Width="30px" Visible=@ShowExplicitColumn>
        <DisplayTemplate>
            @if ((context as SavedTrack).Track.Explicit)
            {
                <span class="explicit-mark">EXPLICIT</span>
            }
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Caption="Artist" Width="150px" AllowSort=@DefaultBoolean.False>
        <DisplayTemplate>
            @((MarkupString)(context as SavedTrack).Track.Artists.GetArtists(link: true, localUrl: Spotify.ExploreArtistUrl))
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Field=@($"{nameof(SavedTrack.Track)}.{nameof(FullTrack.Album)}.{nameof(SimpleAlbum.Name)}") Caption="Album" Width="100px">
        <DisplayTemplate>
            @((MarkupString)(context as SavedTrack).Track.Album.GetName(link: true, localUrl: Spotify.ExploreAlbumUrl))
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Field=@nameof(SavedTrack.AddedAt) Caption="Added" Width="100px" Visible=@ShowAddedAtColumn >
        <DisplayTemplate>
            @((context as SavedTrack).HumanReadableAddedAt())
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Field=@($"{nameof(SavedTrack.Track)}.{nameof(FullTrack.DurationMs)}") Caption="Length" Width="50px">
        <DisplayTemplate>
            @((context as SavedTrack).Track.HumanReadableDuration())
        </DisplayTemplate>
    </DxDataGridColumn>

    <DxDataGridColumn Field=@($"{nameof(SavedTrack.Track)}.{nameof(FullTrack.Popularity)}") Caption="Popularity" Width="50px" Visible=@ShowPopularityColumn />

</DxDataGrid>

@code 
{
    [Parameter]
    public IEnumerable<SavedTrack> Tracks { get; set; }

    [Parameter]
    public int Height { get; set; } = 550;

    [Parameter]
    public bool ShowFilterRow { get; set; } = false;

    [Parameter]
    public bool ShowExplicitColumn { get; set; } = false;

    [Parameter]
    public bool ShowAddedAtColumn { get; set; } = false;

    [Parameter]
    public bool ShowPopularityColumn { get; set; } = false;


    private List<string> visibleUris = new List<string>();


    private void OnHtmlRowDecoration(DataGridHtmlRowDecorationEventArgs<SavedTrack> e)
    {
        if (e.VisibleIndex == 0)
            visibleUris.Clear(); // TODO: insert if scrolling upwards

        visibleUris.Add(e.DataItem.Track.Uri);
    }

    private void OnLayoutChanged(IDataGridLayout _) =>
        visibleUris.Clear();

    private async Task StartLibraryPlaybackAt(string Uri)
    {
        if (!visibleUris.Contains(Uri))
            await Spotify.PlayTrack(null, Uri);
        else
            await Spotify.PlayTracks(visibleUris.GetRange(visibleUris.IndexOf(Uri), visibleUris.Count - visibleUris.IndexOf(Uri)));
    }

}
