@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify


@if (!(playlists is null))
{
    <aside class="d-flex flex-column flex-fill my-2 pl-4 pr-3 w-100 user-playlists-container">

        <h4 class="user-playlists-list-title">@L["Playlists"]</h4>

        <ol class="flex-fill overflow-auto m-0 p-0 user-playlists-list">

            @foreach (var playlist in playlists)
            {
                <li>@((MarkupString)playlist.GetName(link: true, localUrl: Spotify.ExplorePlaylistUrl))</li>
            }

        </ol>

    </aside>
}


@code
{
    private IEnumerable<SimplePlaylist>? playlists;

    protected override async Task OnInitializedAsync()
    {
        Spotify.AuthStateChanged += (acquired) => { if (acquired) OnAuthAcquired(); };
        Spotify.UserPlaylistsChanged += () => InvokeAsync(async () => await FillPlaylists(forceReload: true));

        if (await Spotify.IsAuthGranted())
            await FillPlaylists();
    }

    private async void OnAuthAcquired()
    {
        await InvokeAsync(async () => await FillPlaylists());
    }

    private async Task FillPlaylists(bool forceReload = false)
    {
        if (forceReload || playlists is null)
        {
            playlists = await Spotify.GetUserPlaylists();
            StateHasChanged();
        }
    }
}
