@namespace Caerostris.Shared.Controls.Menu


    <nav class="nav flex-column pl-3 pr-4">

        @if (ItemAttributes is not null)
        {
            @foreach (var item in ItemAttributes)
            {
                <NavMenuItem @attributes=@item />
            }
        }

    </nav>


@code
{
    private IEnumerable<Dictionary<string, object>>? ItemAttributes { get; set; }


    public void Set(string baseRoute, IEnumerable<Dictionary<string, object>> navMenuItemAttributes)
    {
        ItemAttributes = navMenuItemAttributes;

        foreach(var d in ItemAttributes)
        {
            const string Href = nameof(NavMenuItem.Href);
            d.TryGetValue(Href, out var val);
            d[Href] = $"{baseRoute}/{val}";
        }

        StateHasChanged();
    }

    public bool IsSet =>
        (ItemAttributes is not null);

    public void Clear()
    {
        ItemAttributes = null;
        StateHasChanged();
    }
}