<li class="nav-item">
    <NavLink href=@Href Match=@Match>
        <i class="material-icons md-24-inline pl-1 pr-2">@Icon</i> @Text
    </NavLink>
</li>

@code 
{
    [Parameter]
    public string Icon { get; set; } = null!;

    [Parameter]
    public string Text { get; set; } = null!;

    [Parameter]
    public string Href { get; set; } = null!;

    [Parameter]
    public NavLinkMatch Match { get; set; } = NavLinkMatch.Prefix;

}
