.search-query-form {
    width: 400px;

    background-color: var(--caerostris-secondary-background-color);
    border-radius: 2px;
    color: white; 
}

    .search-query-form label {
        margin: 0;
    }

    .search-query-form .search-query {
        width: 334px;

        border: 0;
        background-color: transparent;
        color: white;
    }

        .search-query-form ::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }