@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://rsms.me/inter/inter.css'); /* TODO: 1st party serve */

html {
    --caerostris-primary-color: #1996C4;
    --caerostris-secondary-background-color: rgba(255, 255, 255, 0.2);
    --scrollbar-background-color: transparent;
    --scrollbar-thumb-background-color: rgba(255, 255, 255, 0.4);
    --scrollbar-thumb-background-color-de-emphasized: rgba(255, 255, 255, 0.1);
    --subsection-divider-border: 1px solid rgba(255, 255, 255, 0.2);
    --subsection-padding: 1em 8px 0.5em 8px;
    --info-color: rgba(255, 255, 255, 0.4);
    --info-opacity: 0.4;
}

@supports (font-variation-settings: normal) {
    html, body {
        font-family: 'Inter var', sans-serif;
    }
}

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: white;

    height: 100%;
}

a, a:hover {
    color: white;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-background-color) var(--scrollbar-background-color);
}

*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-background-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background-color);
    border-radius: 2px;
}

.btn-primary {
    color: white;
    background-color: var(--caerostris-primary-color);
    border-color: var(--caerostris-primary-color);
}

    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: #0062cc;
        border-color: #005cbf;
    }

.btn:focus, .btn:active, input:focus, input:active {
    outline: none !important;
    box-shadow: none !important;
}

app {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 110%); /* #052767 */
}

img:not([src]) {
    visibility: hidden;
}

.loading-title {
    opacity: var(--info-opacity);
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

.spotify-logo {
    height: 35px;
    width: auto;
}

.caerostris-logo {
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    color: white;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: hidden;
}

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-top: 4px;
    }
        .sidebar .nav-item *:hover {
            text-decoration: none;
        }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: rgba(255, 255, 255, 0.8);
            height: 2.5rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255, 255, 255, 0.25);
                color: white;
                border-radius: 2px;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255, 255, 255, 0.1);
                color: white;
            }

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: black;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
        visibility: hidden;
    }

.main .top-row {
    position: sticky;
    top: 0;
}

.navbar-toggler {
    display: none;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: 
        local('Material Icons'), 
        local('MaterialIcons-Regular'), 
        url(/icons/MaterialIcons-Regular.woff2) format('woff2'),
        url(/icons/MaterialIcons-Regular.woff) format('woff'), 
        url(/icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

    .material-icons.md-24 {
        font-size: 24px;
        line-height: 0;
        position: relative;
        top: 6.5px;
    }

    .material-icons.md-36 {
        font-size: 36px;
        line-height: 0;
        position: relative;
        top: 12px;
    }

    .material-icons.md-24-inline {
        font-size: 24px;
        line-height: 0;
    }

    .material-icons.clickable:hover {
        cursor: pointer;
    }

.playbackbar {
    height: 60px;
    color: white;
}

    .playbackbar * {
        margin: 0;
    }

    .playbackbar .track-metadata, .playbackbar .playback-extra-controls {
        width: 400px;
    }

        .playbackbar .track-metadata *:not(.inline-icon-button) {
            max-width: calc(400px - 40px);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: white;
        }

        .playbackbar .track-metadata .track-title {
            font-size: 22px;
        }

        .playbackbar .track-metadata .track-artist {
            font-size: 13px;
            color: lightgray;
            padding-left: 1px;
        }

.progressbar-background {
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

    .progressbar-background.clickable:hover {
        cursor: pointer;
    }

.progressbar-progress {
    height: 100%;
    background-color: var(--caerostris-primary-color);
    border-radius: 2px;
    /* transition: 0.5s; TODO: ne akadjon storage olvasáskor */
}


.playback-cover-image-container {
    text-align: center;
}

.playback-cover-image {
    margin: 0 auto;
    filter: drop-shadow(0px 0px 30px black)
}

.blazored-modal {
    color: black;
    border-radius: 2px;
    border: 0;
}

    .blazored-modal .blazored-modal-header {
        padding-bottom: 1rem;
    }

    .blazored-modal hr {
        color: var(--info-color);
    }



    .datagrid *:not(.btn) {
        background-color: transparent;
        color: white;
        border: 0;
        text-overflow: ellipsis;
        font-variant-numeric: tabular-nums;
        letter-spacing: -0.01em;
    }

    .datagrid tr.datagrid-row {
        border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
    }

        .datagrid tr.datagrid-row td:first-child {
            font-weight: 500;
        }

    .datagrid tr.datagrid-row td {
        padding: 0.66rem;
    }

    .datagrid tr.datagrid-row td.bg-primary {
        background-color: transparent !important;
    }

    .datagrid th .dxbs-fixed-header-content {
        padding-left: 10px;
        text-transform: uppercase;
        opacity: var(--info-opacity);
    }

    .datagrid th .dxbs-textbox {
        height: unset;
        padding: 0 0 0 12px;
        border-radius: 0;
        line-height: 1;
    }

    .datagrid .table-sm td, .datagrid .table-sm th, .datagrid .form-control {
        padding: 0;
        height: unset;
    }

.library-controls, .playback-status {
    opacity: var(--info-opacity);
}

    .library-controls .form-check-inline:first-of-type {
        padding-left: 0.75rem;
    }

.explicit-mark { /* needs to be applied within dxdatagrid */
    opacity: var(--info-opacity);
    font-size: 0.66rem !important;
    display: block !important;
    text-align: center !important;
    width: 55px !important;
    margin: 0 auto !important;
    padding: 2px 0 !important;
    border: 1px solid white !important;
    border-radius: 2px !important;
}

.context-page-heading-image {
    height: 30vh;
    width: auto;
    filter: drop-shadow(0px 0px 10px black);
}

.context-page-heading-type {
    font-size: 0.75rem;
    opacity: var(--info-opacity);
    margin-bottom: 0;
}

.context-page-heading-title {
    max-width: calc(100vw - 30vh - 600px);
    font-size: 4rem;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.context-page-heading-by {
    opacity: var(--info-opacity);
}

.context-page-heading-childcontent {
    word-break: break-word;
    overflow-wrap: break-word;
}

    .context-page-heading-childcontent > *:not(.btn) {
        opacity: var(--info-opacity);
    }

    .context-page-heading-childcontent > .btn {
        margin: 0 !important; /* Overriding Bootstrap !important */
    }

.subsection-title {
    display: inline;
    font-weight: bold;
    padding: var(--subsection-padding);
    margin: 0 8px;
}

    .subsection-title:first-of-type {
        padding-top: 0;
    }

    .subsection-title:not(:first-of-type) {
        border-top: var(--subsection-divider-border);
    }

.artist-page-related-artist-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.artist-page-album-title {
    font-size: 1.2rem;
}

.navigation-thumbnail-card.card {
    background-color: transparent;
    box-sizing: content-box;
    padding: 16px;
    border: 0;
    position: relative;
}

    .navigation-thumbnail-card .card-img-top {
        border-radius: 2px;
        object-fit: cover;
        filter: drop-shadow(0px 0px 5px black);
    }

    .navigation-thumbnail-card .card-body {
        padding: 8px 2px;
    }

    .navigation-thumbnail-card .card-title {
        font-weight: bold;
        margin-bottom: 4px;
        letter-spacing: 0.2px;
    }

    .navigation-thumbnail-card .card-text {
        opacity: var(--info-opacity);
    }

    .navigation-thumbnail-card .centered-button-container {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        opacity: 0;
        transition: 0.25s;
    }

        .navigation-thumbnail-card .centered-button-container .btn {
            visibility: hidden;
        }

        .navigation-thumbnail-card .centered-button-container:hover {
            opacity: 1;
        }

            .navigation-thumbnail-card .centered-button-container:hover .btn {
                visibility: visible;
            }



.collab-with {
    opacity: var(--info-opacity);
}

.user-playlists-list-title {
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

.user-playlists-list {
    overflow-y: auto;
    scrollbar-color: var(--scrollbar-thumb-background-color-de-emphasized) var(--scrollbar-background-color);
}

    .user-playlists-list li {
        opacity: 0.8;
        font-size: 0.9rem;
        line-height: 2;
        list-style-type: none;

        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .user-playlists-list::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-background-color-de-emphasized);
    }

.inline-icon-button {
    font-size: 21px;
    line-height: 0;
    position: relative;
    top: 2px;
}

.search-query-form {
    width: 400px;

    background-color: var(--caerostris-secondary-background-color);
    border-radius: 2px;
    color: white; 
}

    .search-query-form label {
        margin: 0;
    }

    .search-query-form .search-query {
        width: 334px;

        border: 0;
        background-color: transparent;
        color: white;
    }

        .search-query-form ::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

.centered-info {
    opacity: var(--info-opacity);
}

.clear-button {
    opacity: var(--info-opacity);
}

.loading-message {
    opacity: var(--info-opacity);
    font-variant-numeric: tabular-nums;
}

.dx-blazor-widget {
    color: white;
}

    .dx-blazor-widget.card {
        background-color: transparent;
    }

.dx-chart-tooltips {
    color: black;
}

    .dx-chart-tooltips a, .dx-chart-tooltips a:hover {
        color: black;
    }

.audio-features-graph g.dxc-val-grid {
    visibility: hidden;
}

g.dxc-val-grid > path {
    stroke: rgba(255, 255, 255, 0.1);
}

.dx-chart-legend-container {
    max-height: 300px;
    overflow: auto;
}