@import url("https://rsms.me/inter/inter.css");
html {
  --caerostris-primary-color: #517ec8;
  --caerostris-primary-background-color-from: #122131;
  --caerostris-primary-background-color-to: #181818;
  --caerostris-secondary-background-color: rgba(255, 255, 255, 0.2);
  --caerostris-control-surface-color: #1a2128;
  --caerostris-menu-color: #080e15;
  --scrollbar-background-color: transparent;
  --scrollbar-thumb-background-color: rgba(255, 255, 255, 0.4);
  --scrollbar-thumb-background-color-de-emphasized: rgba(255, 255, 255, 0.1);
  --subsection-divider-border: 1px solid rgba(255, 255, 255, 0.2);
  --subsection-padding: 1em 8px 0.5em 8px;
  --info-color: rgba(255, 255, 255, 0.4);
  --info-opacity: 0.4;
  --caerostris-border-radius: 2px;
  --sidebar-width: 300px;
  --caerostris-animation-duration: 0.2s; }

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.2;
  color: white;
  height: 100%; }

@supports (font-variation-settings: normal) {
  html, body {
    font-family: 'Inter var', sans-serif; } }

a, a:hover {
  color: white; }

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-background-color) var(--scrollbar-background-color); }

*::-webkit-scrollbar {
  width: 6px; }

*::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color); }

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: var(--caerostris-border-radius); }

img[src=""], img:not([src]) {
  background: var(--caerostris-primary-background-color-from);
  border: 1px solid var(--caerostris-primary-background-color-from);
  text-indent: -99999vw; }

.clickable:hover {
  cursor: pointer; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/icons/MaterialIcons-Regular.woff2) format("woff2"), url(/icons/MaterialIcons-Regular.woff) format("woff"), url(/icons/MaterialIcons-Regular.ttf) format("truetype"); }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-24 {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle; }

.material-icons.md-36 {
  font-size: 36px;
  line-height: 1;
  vertical-align: middle; }

.material-icons.rem-inline {
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: middle; }

app {
  background-image: linear-gradient(180deg, var(--caerostris-primary-background-color-from) 0%, var(--caerostris-primary-background-color-to) 110%); }

.loading-title {
  opacity: var(--info-opacity); }

#blazor-error-ui {
  background: black;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
  visibility: hidden; }

.blazored-modal {
  color: white;
  background-color: var(--caerostris-primary-background-color-from);
  border-radius: var(--caerostris-border-radius);
  border: 0;
  line-height: 1.5; }

.blazored-modal-wrapper {
  max-width: 50vw; }

.blazored-modal .btn {
  background-color: var(--caerostris-primary-color);
  border-color: var(--caerostris-primary-color); }

.blazored-modal .blazored-modal-close {
  color: white;
  padding: 0.5rem 1rem; }

.blazored-modal hr {
  border-top: 1px solid var(--info-color); }

.blazored-modal p {
  white-space: pre-line; }

.dx-blazor-widget {
  color: white; }

.dx-blazor-widget.card {
  background-color: transparent;
  flex-basis: 0%; }

.dx-chart-tooltips {
  color: black; }

.dx-chart-tooltips a, .dx-chart-tooltips a:hover {
  color: black; }

g.dxc-val-grid > path {
  stroke: rgba(255, 255, 255, 0.1); }

.dx-chart-legend-container {
  max-height: 300px;
  overflow: auto; }

.navigation-thumbnail-card.card {
  background-color: transparent;
  box-sizing: content-box;
  padding: 16px;
  border: 0;
  position: relative; }

.navigation-thumbnail-card .card-img-top {
  border-radius: var(--caerostris-border-radius);
  object-fit: cover;
  filter: drop-shadow(0px 0px 5px black); }

.navigation-thumbnail-card .card-body {
  padding: 8px 2px; }

.navigation-thumbnail-card .card-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 4px;
  letter-spacing: 0.2px; }

.navigation-thumbnail-card .card-text {
  font-size: 0.75rem;
  opacity: var(--info-opacity); }

.navigation-thumbnail-card .centered-button-container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
  transition: var(--caerostris-animation-duration); }

.navigation-thumbnail-card .centered-button-container .btn {
  visibility: hidden; }

.navigation-thumbnail-card .centered-button-container:hover {
  opacity: 1; }

.navigation-thumbnail-card .centered-button-container:hover .btn {
  visibility: visible; }

.context-page-heading {
  line-height: 1.5; }

.context-page-heading-image {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: var(--caerostris-border-radius);
  filter: drop-shadow(0px 0px 10px black); }

.context-page-heading-type {
  font-size: 0.75rem;
  opacity: var(--info-opacity);
  margin-bottom: 0; }

.context-page-heading-title {
  font-size: 4rem;
  font-weight: 700; }

.context-page-heading-by {
  opacity: var(--info-opacity); }

.context-page-heading-childcontent {
  word-break: break-word;
  overflow-wrap: break-word; }

.context-page-heading-childcontent > *:not(.btn) {
  opacity: var(--info-opacity); }

.context-page-heading-controls > .btn {
  margin: 0 !important;
  /* Overriding Bootstrap !important */ }

.progressbar-click-area {
  --progressbar-visible-height: 5px;
  height: calc(3 * var(--progressbar-visible-height)); }

.progressbar-background {
  height: var(--progressbar-visible-height);
  background-color: white;
  border-radius: 2px; }

.progressbar-progress {
  height: 100%;
  background-color: var(--caerostris-primary-color);
  border-radius: 2px; }

.progressbar-handle-anchor {
  width: 0;
  height: 0;
  position: relative; }

.progressbar-handle {
  --progressbar-handle-radius: 7px;
  width: calc(2 * var(--progressbar-handle-radius));
  height: calc(2 * var(--progressbar-handle-radius));
  border-radius: var(--progressbar-handle-radius);
  background-color: white;
  right: calc(-1 * var(--progressbar-handle-radius));
  top: calc(-1 * var(--progressbar-visible-height)); }

.btn {
  border-radius: var(--caerostris-border-radius); }

.btn-primary {
  color: white; }

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #0062cc;
  border-color: #005cbf; }

.btn:focus, .btn:active, input:focus, input:active {
  outline: none !important;
  box-shadow: none !important; }

.inline-icon-button {
  font-size: 22px;
  line-height: 1;
  vertical-align: middle; }

.action-text {
  margin-bottom: 0;
  cursor: pointer; }

.action-text:hover {
  text-decoration: underline; }

.inline-play-track-button {
  border: 1px solid;
  border-radius: var(--caerostris-border-radius);
  width: 2em;
  height: 2em;
  color: inherit;
  opacity: 0; }

.currently-playing .inline-play-track-button, tr:hover .inline-play-track-button {
  opacity: var(--info-opacity); }

tr:hover .inline-play-track-button:hover {
  opacity: 1;
  color: inherit;
  transition: opacity var(--caerostris-animation-duration) ease; }

.inline-play-track-button i {
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
  position: relative;
  top: -0.3px; }

.btn-primary, .secondary-button {
  height: 38px; }

.clearable-text-input {
  color: white;
  min-width: 0; }

.clearable-text-input.with-background {
  background-color: var(--caerostris-secondary-background-color);
  border-radius: 2px; }

.clearable-text-input label {
  margin: 0;
  min-width: 0; }

.clearable-text-input input {
  width: 334px;
  border: 0;
  background-color: transparent;
  color: white;
  min-width: 0; }

.clearable-text-input ::placeholder {
  color: rgba(255, 255, 255, 0.7);
  min-width: 0; }

.playbackbar {
  --playbackbar-height: 90px;
  --track-album-thumbnail-size: calc(var(--playbackbar-height) - 2rem);
  --playbackbar-sides-width: 500px;
  height: var(--playbackbar-height);
  color: white;
  background-color: var(--caerostris-control-surface-color); }

.playbackbar * {
  margin: 0; }

.playbackbar .track-metadata, .playbackbar .playback-extra-controls {
  width: var(--playbackbar-sides-width); }

.playbackbar .track-metadata *:not(.inline-icon-button) {
  max-width: calc(var(--playbackbar-sides-width) - var(--track-album-thumbnail-size) - 4rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white; }

.playbackbar .track-metadata .track-album-thumbnail {
  width: var(--track-album-thumbnail-size);
  height: var(--track-album-thumbnail-size);
  border-radius: var(--caerostris-border-radius);
  filter: drop-shadow(0px 0px 5px black);
  object-fit: cover; }

.playbackbar .track-metadata .track-title {
  font-size: 22px;
  vertical-align: middle;
  line-height: 1; }

.playbackbar .track-metadata .track-artist {
  font-size: 13px;
  color: lightgray;
  padding-left: 1px; }

.duration-display {
  font-size: 0.9rem;
  font-variant-numeric: tabular-nums;
  position: relative;
  top: -2px; }

.duration-display span {
  position: relative;
  top: -1px; }

.spotify-logo {
  height: 35px;
  width: auto; }

.caerostris-logo {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  color: white; }

.sidebar {
  width: var(--sidebar-width);
  overflow: hidden;
  flex-shrink: 0;
  background-color: var(--caerostris-menu-color); }

.sidebar .oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px; }

.sidebar .nav-item {
  font-size: 0.9rem;
  padding-top: 4px; }

.sidebar .nav-item *:hover {
  text-decoration: none; }

.sidebar .nav-item:first-of-type {
  padding-top: 1rem; }

.sidebar .nav-item:last-of-type {
  padding-bottom: 1rem; }

.sidebar .nav-item a {
  color: rgba(255, 255, 255, 0.8);
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 3rem; }

.sidebar .nav-item a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 2px; }

.sidebar .nav-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white; }

.rightclickmenu {
  position: absolute;
  background-color: var(--caerostris-menu-color); }

.rightclickmenu > ol {
  list-style: none; }

.rightclickmenu .rightclickmenu-item-button {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0;
  color: white;
  text-align: start; }

.rightclickmenu .rightclickmenu-item-button * {
  vertical-align: middle; }

.rightclickmenu .rightclickmenu-item-button:hover {
  background-color: var(--caerostris-secondary-background-color);
  color: white; }

.user-playlists-container {
  min-height: 0; }

.user-playlists-container .user-playlists-list-title {
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase; }

.user-playlists-container .user-playlists-list {
  min-height: 0;
  scrollbar-color: var(--scrollbar-thumb-background-color-de-emphasized) var(--scrollbar-background-color); }

.user-playlists-container .user-playlists-list li {
  opacity: 0.8;
  font-size: 0.9rem;
  line-height: 2;
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.user-playlists-container .user-playlists-list::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color-de-emphasized); }

.collab-with {
  opacity: var(--info-opacity); }

.currently-playing {
  color: var(--caerostris-primary-color) !important; }

.currently-playing a {
  color: var(--caerostris-primary-color) !important;
  /* Overriding link color. */ }

.flex-fill.trackgrid-container {
  min-height: 0; }

.flex-fill > .trackgrid-head-container {
  padding-right: 8px; }

.flex-fill > .trackgrid-body-container {
  overflow-y: scroll; }

table.trackgrid {
  --trackgrid-cue-color: rgba(255, 255, 255, 0.075);
  table-layout: fixed;
  min-width: 0; }

.trackgrid *:not(.btn) {
  --padding: 0.66rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.01em; }

.trackgrid tr.filter-row td {
  padding: calc(0.5 * var(--padding)) calc(0.5 * var(--padding)); }

.trackgrid tr.title-row, .trackgrid tr.filter-row, .trackgrid tr.track-row:not(:last-of-type) {
  border-bottom: 1px solid var(--trackgrid-cue-color) !important; }

.trackgrid tr.track-row:last-of-type {
  border-bottom: 1px solid transparent !important; }

.trackgrid tr.track-row:hover {
  background-color: var(--trackgrid-cue-color);
  border-bottom: 1px solid transparent !important; }

.trackgrid tr.track-row td {
  padding: var(--padding);
  overflow: hidden;
  white-space: nowrap; }

.trackgrid th.column-title {
  padding-left: var(--padding);
  opacity: var(--info-opacity);
  font-weight: 400;
  font-size: 0.9rem;
  overflow: hidden;
  white-space: nowrap; }

.trackgrid th.column-title.sorted {
  text-decoration: underline; }

.trackgrid .title-column {
  font-weight: 500; }

.trackgrid .play-button-column {
  padding: 0 !important;
  /* Overriding row-level td padding. */ }

.trackgrid .clearable-text-input label {
  margin-right: 0.5em; }

.trackgrid .explicit-mark {
  opacity: var(--info-opacity);
  color: white !important;
  /* Overriding currently-playing rules. */
  font-size: 0.66rem;
  display: block;
  text-align: center;
  width: 55px;
  margin: 0 auto;
  padding: 2px 0;
  border: 1px solid white;
  border-radius: 2px; }

.trackgrid .material-icons.rem-inline {
  line-height: 0; }

.centered-info {
  opacity: var(--info-opacity); }

.clear-button {
  opacity: var(--info-opacity); }

.loading-message {
  opacity: var(--info-opacity);
  font-variant-numeric: tabular-nums; }

.subsection-title {
  display: inline;
  font-weight: bold;
  padding: var(--subsection-padding);
  margin: 0 8px; }

.subsection-title:first-of-type {
  padding-top: 0; }

.subsection-title:not(:first-of-type) {
  border-top: var(--subsection-divider-border); }

.about-page {
  line-height: 1.5;
  white-space: pre-line; }

.about-page a {
  text-decoration: underline; }

.about-page > p {
  margin-left: 1rem; }

.copyleft {
  display: inline-block;
  transform: rotate(180deg); }

.audio-features-graph g.dxc-val-grid {
  visibility: hidden; }

.insights-playlist-header {
  margin-top: 16px; }

.insights-playlist-header .inline-icon-button {
  position: relative;
  top: 3px; }

.library-controls {
  opacity: var(--info-opacity); }

.playback-cover-image-container {
  text-align: center; }

.playback-cover-image {
  margin: 0 auto;
  filter: drop-shadow(0px 0px 30px black);
  border-radius: 2px; }

.playback-status {
  opacity: var(--info-opacity); }

.search-query-form {
  width: 400px; }
