@namespace Caerostris.Shared.Context 


@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify


    <div class="d-flex flex-column justify-content-start h-100 p-4">

            <ContextPageHeading Type=@CompleteAlbum.Album.AlbumType.ToUpper()
                                Uri=@CompleteAlbum.Album.Uri
                                Title=@CompleteAlbum.Album.GetName(link: true)
                                By=@CompleteAlbum.Album.Artists.GetArtists(link: true, localUrl: Spotify.ExploreArtistUrl)
                                Image=@CompleteAlbum.Album.Images>

                <p>@CompleteAlbum.Album.ReleaseDate • @CompleteAlbum.Tracks.Count() @((CompleteAlbum.Tracks.Count() > 1) ? L["Songs"] : L["Song"]), @CompleteAlbum.HumanReadableTotalLength()</p>

            </ContextPageHeading>

            <TrackGrid Tracks=@(CompleteAlbum.Tracks.Select(t => t.AsTrack()).ToList()) 
                       ContextUri=@CompleteAlbum.Album.Uri 
                       Fill>

                <TitleFeatArtistsColumn ImplicitArtistUris=@CompleteAlbum.Album.Artists.Select(a => a.Uri).ToList() />
                <DurationColumn />

            </TrackGrid>

    </div>


@code
{
    [Parameter]
    public CompleteAlbum CompleteAlbum { get; set; } = default!;
}