@using Caerostris.Shared.Controls.Links


@namespace Caerostris.Shared.Context


@inject IStringLocalizer<Text> L
@inject SpotifyService Spotify


<div class="d-flex flex-column justify-content-start h-100 p-4">

    <ContextPageHeading Type=@CompleteAlbum.Album.AlbumType
                        Uri=@CompleteAlbum.Album.Uri
                        LocalUrl=@Spotify.ExploreAlbumUrl
                        ExternalUrls=@CompleteAlbum.Album.ExternalUrls
                        Title=@CompleteAlbum.Album.Name
                        Image=@CompleteAlbum.Album.Images>

        <By>
            <ArtistLinkList Artists=@CompleteAlbum.Album.Artists />
        </By>

        <ChildContent>
            <p>@CompleteAlbum.Album.ReleaseDate • @CompleteAlbum.Tracks.Count() @((CompleteAlbum.Tracks.Count() > 1) ? L["Songs"] : L["Song"]), @CompleteAlbum.HumanReadableTotalLength()</p>
        </ChildContent>

    </ContextPageHeading>

    <TrackGrid Tracks=@(CompleteAlbum.Tracks.Select((t, i) => t.AsTrack(i)).ToList())
               ContextUri=@CompleteAlbum.Album.Uri
               Fill>

        <TitleFeatArtistsColumn ImplicitArtistUris=@CompleteAlbum.Album.Artists.Select(a => a.Uri).ToList() />
        <DurationColumn />

    </TrackGrid>

</div>


@code
{
    [Parameter]
    public CompleteAlbum CompleteAlbum { get; set; } = default!;
}