@page "/"

@using Services;
@inject SpotifyService spotify;

<h1>Hello, world!</h1>

Welcome to Caerostris, @username!

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private string username = "Unknown";

    protected override async Task OnInitializedAsync()
    {
        username = await spotify.GetUsername();
    }
}