<div class="top-row p-3 navbar navbar-dark">
    <a class="d-flex flex-row justify-content-start align-items-center text-decoration-none" href="">
        <img src="/icons/Spotify_Icon_RGB_White.png" class="spotify-logo" />
        <span class="caerostris-logo pl-2">Cærostris</span>
    </a>
</div>

<div>
    <ul class="nav flex-column pl-3 pr-4">
        <NavMenuItem Href="" Match=@NavLinkMatch.All Icon="play_arrow" Text="Playback" />
        <NavMenuItem Href="context" Icon="playlist_play" Text="Context" />
        <NavMenuItem Href="library" Icon="library_music" Text="Library" />
        <NavMenuItem Href="insights" Icon="insert_chart" Text="Insights" />
        <NavMenuItem Href="search" Icon="search" Text="Search" />
    </ul>
</div>
