<div class="top-row pl-4 navbar navbar-dark">
    <a class="d-flex flex-row justify-content-start align-items-center text-decoration-none" href="">
        <img src="/icons/Spotify_Icon_RGB_White.png" class="spotify-logo" />
        <span class="caerostris-logo pl-2">Cærostris</span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="material-icons md-24-inline pr-2">play_arrow</i> Playback
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="context">
                <i class="material-icons md-24-inline pr-2">playlist_play</i> Context
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="library">
                <i class="material-icons md-24-inline pr-2">library_music</i> Library
            </NavLink>
        </li>
    </ul>
</div>

@code 
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
