.context-page-heading {
    line-height: 1.5;
}

.context-page-heading-image {
    height: 30vh;
    width: 30vh;
    object-fit: cover;
    border-radius: var(--caerostris-border-radius);
    filter: drop-shadow(0px 0px 10px black);
}

.context-page-heading-type {
    font-size: 0.75rem;
    opacity: var(--info-opacity);
    margin-bottom: 0;
}

.context-page-heading-title {
    font-size: 4rem;
    font-weight: 700;
}

.context-page-heading-by {
    opacity: var(--info-opacity);
}

.context-page-heading-childcontent {
    word-break: break-word;
    overflow-wrap: break-word;
}

    .context-page-heading-childcontent > *:not(.btn) {
        opacity: var(--info-opacity);
    }

    .context-page-heading-controls > .btn {
        margin: 0 !important; /* Overriding Bootstrap !important */
    }