.datagrid *:not(.btn) { /* TODO: törölni a fájlt*/
    background-color: transparent;
    color: white;
    border: 0;
    text-overflow: ellipsis;
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.01em;
}

.datagrid tr.datagrid-row {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

    .datagrid tr.datagrid-row td:first-child {
        font-weight: 500;
    }

.datagrid tr.datagrid-row td {
    padding: 0.66rem;
}

.datagrid tr.datagrid-row td.bg-primary {
    background-color: transparent !important;
}

.datagrid th .dxbs-fixed-header-content {
    padding-left: 10px;
    text-transform: uppercase;
    opacity: var(--info-opacity);
}

.datagrid th .dxbs-textbox { //TODO: hátha kell
    height: unset;
    padding: 0 0 0 12px;
    border-radius: 0;
    line-height: 1;
}

.datagrid .table-sm td, .datagrid .table-sm th, .datagrid .form-control { // TODO: hátha kell
    padding: 0;
    height: unset;
}