.blazored-modal {
    color: white;
    background-color: var(--caerostris-primary-background-color-from);
    border-radius: var(--caerostris-border-radius);
    border: 0;
    line-height: 1.5;
}

    .blazored-modal-wrapper {
        max-width: 50vw;
    }

    .blazored-modal .btn {
        background-color: var(--caerostris-primary-color);
        border-color: var(--caerostris-primary-color);
    }

    .blazored-modal .blazored-modal-close {
        color: white;
        padding: 0.5rem 1rem;
    }

    .blazored-modal hr {
        border-top: 1px solid var(--info-color);
    }
