.blazored-modal {
    color: white;
    background-color: #052767;
    border-radius: 2px;
    border: 0;
}

    .blazored-modal .blazored-modal-header {
        padding-bottom: 1rem;
    }

    .blazored-modal hr {
        color: var(--info-color);
    }
