.navigation-thumbnail-card.card {
    background-color: transparent;
    box-sizing: content-box;
    padding: 16px;
    border: 0;
    position: relative;
}

    .navigation-thumbnail-card .card-img-top {
        border-radius: var(--caerostris-border-radius);
        object-fit: cover;
        filter: drop-shadow(0px 0px 5px black);
    }

    .navigation-thumbnail-card .card-body {
        padding: 8px 2px;
    }

    .navigation-thumbnail-card .card-title {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 4px;
        letter-spacing: 0.2px;
    }

    .navigation-thumbnail-card .card-text {
        font-size: 0.75rem;
        opacity: var(--info-opacity);
    }

    .navigation-thumbnail-card .centered-button-container {
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        opacity: 0;
        transition: var(--caerostris-animation-duration);
    }

        .navigation-thumbnail-card .centered-button-container .btn {
            visibility: hidden;
        }

        .navigation-thumbnail-card .centered-button-container:hover {
            opacity: 1;
        }

            .navigation-thumbnail-card .centered-button-container:hover .btn {
                visibility: visible;
            }