@namespace Caerostris.Shared.Info


@using Caerostris.Shared.Controls.Progressbar


@inject IStringLocalizer<Text> L


    <div class="d-flex flex-@(Uncertain ? "row" : "column") justify-content-center align-items-center h-100 loading-message">

        @if (Uncertain)
        {
            <div class="spinner-border mr-4 mb-2"></div>
        }

        <h4>@LoadingMessage</h4>

        @if (!Uncertain)
        {
            <div class="w-25 pt-2">
                <Progressbar Percent=@((loadingTotal > 0) ? ((double)loadingProgress / (double)loadingTotal * 100d) : 0) />
            </div>
        }

    </div>


@code
{
    private int loadingProgress = 0, loadingTotal = 0;

    private bool Uncertain => !(ShowProgress && (loadingTotal > 0));

    private string LoadingMessage =>
        L["LoadingWhat", LoadingWhat] + (Uncertain ? "..." : $": {L["OutOf", loadingProgress, loadingTotal]}");

    [Parameter]
    public string LoadingWhat { get; set; } = default!;

    [Parameter]
    public bool ShowProgress { get; set; } = false;

    public async void Update(int downloaded, int total) =>
        await InvokeAsync(() =>
        {
            loadingProgress = downloaded;
            loadingTotal = total;
            StateHasChanged();
        });

}
