@namespace Caerostris.Shared.Info


    <div class="d-flex justify-content-center align-items-center h-100 centered-info">
        <i class="material-icons md-24 pr-2">info</i>
        <h4 class="m-0 p-0">@Text</h4>
    </div>


@code 
{
    [Parameter]
    public string Text { get; set; } = default!;
}